@import url(../Montserrat/Montserrat-VariableFont_wght.ttf);
body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 100vh;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) -8%,
    rgba(4, 2, 40, 1) -7%,
    rgba(21, 16, 69, 1) 0%,
    rgba(4, 101, 219, 1) 0%,
    rgba(0, 101, 219, 1) 0%,
    rgba(114, 97, 231, 1) 0%,
    rgba(92, 71, 232, 1) 11%,
    rgba(98, 78, 232, 1) 14%,
    rgba(114, 97, 231, 1) 23%,
    rgba(114, 97, 231, 1) 100%,
    rgba(99, 108, 230, 1) 100%,
    rgba(110, 88, 244, 1) 100%
  );
}

.Container {
  display: inline-block;
  width: 1000px;

  background-color: transparent;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 75px;
  padding-right: 40px;
  padding-top: 120px;
}

.Container-block {
  background-color: #ffffff;
  width: 30%;
  float: left;
  margin-left: 2%;
  padding-left: 25px;
  padding-right: 25px;
}

.Container-block:last-child {
  padding-right: 20px;
}

.Container-block h1 {
  margin-left: 1px;
  font-size: 20px;
  font-weight: lighter;
  color: #7261e7;
  margin-top: 40px;
}

.Container-block > .intro {
  font-size: 13px;
  line-height: 1em;
  padding-top: 0px;
  padding-bottom: 30px;
}
.Container-block .title {
  padding-bottom: 20px;
}

.question {
  text-align: center;
}
