.form {
  width: 100%;
}
.form > .form-row {
  width: 100%;
  margin-bottom: 5px;
}
.form-check {
  float: left;
  margin-bottom: 15px;
}
.form-check > input {
}

.form > .form-row > input {
  width: 100%;
  font-size: 13px;
  line-height: 2em;
  border: none;
  border-bottom: 2px solid #8f54ea;
}
.form-check > a {
  float: right;
  margin-left: 70px;
}
